.main-content {
  font-size: 0;
  color: @black;
  vertical-align: top;
  
  .reason__header,
  .reason__text,
  .reason__number {
    font-size: @font-size--header;
    line-height: @line-height;
    margin: 0;
    text-align: center;
    display: block;
  }
  
  .reason__header {
    margin: 0 auto;
    width: 155px;
    margin-bottom: 10px;
  }
  .reason__number {
    margin-bottom: 20px;
  }  
  .reason__text {
    margin: 0 auto;
    width: 260px;
    margin-bottom: 0;
  }
  .reason__text,
  .reason__number {
    font-size: @font-size;
  }
    
  &__reason__description {
    vertical-align: top;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 40px;
    background: @light--grey;
    min-height: 165px;
  }
  
  &__reason-1 {
    .main-content__reason__description {
        width: @column-1;
        display: inline-block;
        color: @white;
        background-color: @blue;
    }
    &__image {
        vertical-align: top;
        width: @column-2;
        height: 255px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;  
        background-image: url(../img/bg-main-reason-1.jpg);
    }
    .reason__image {
      width: 75px;
      height: 75px;
      margin: 0 auto;
      margin-bottom: 25px;
      text-align: center;
    }
    &__house,
    &__food,
    &__souvenir {
      width: @column-1;
      display: inline-block;
      vertical-align: top;
      padding-top: 60px;
      padding-bottom: 75px;
      min-height: 195px;
      .reason__header {
        margin-bottom: 15px;
      }
    }
  }
  
  
  &__reason-2 {
     .main-content__reason__description {
        width: @column-1;
        display: inline-block;
        color: @white;
        background-color: @blue;
    }
    &__image {
        vertical-align: top;
        width: @column-2;
        height: 255px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;  
        background-image: url(../img/bg-main-reason-2.jpg);
    }
  }
  &__reason-3,
  &__reason-4,
  &__reason-5 {
    width: @column-1;
    display: inline-block;
    vertical-align: top;
  }
}

@media(min-width: 768px) and (max-width: 1200px) {
  .main-content {
    .reason__header {
      margin: 0 auto;
      width: 160px;
      margin-bottom: 10px;
      }

    .reason__number {
      margin-bottom: 20px;
      }  

    .reason__text {
      margin: 0 auto;
      width: 165px;
      line-height: 21px;
      }

    &__reason__description {
      padding-top: 45px;
      padding-bottom: 35px;
      min-height: 175px;
      }
    &__reason-1 {
      &__house,
      &__food,
      &__souvenir {
        padding-top: 60px;
        padding-bottom: 65px;
        min-height: 205px;
        .reason__header {
          margin-bottom: 15px;
        }
      }
    }
  }
}







@media(max-width: 767px) {
.main-content {
  
  .reason__header {
    margin: 0 auto;
    width: 280px;
    margin-bottom: 10px;
    font-size: @font-size--header--small;
  }
  .reason__number {
    margin-bottom: 10px;
    line-height: 21px;
  }  
  .reason__text {
    margin: 0 auto;
    width: 280px;
    margin-bottom: 0;
    line-height: 21px;
  }
    
   &__reason__description {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: @light--grey;
    min-height: 110px;
  }
  
  &__reason-1,
  &__reason-2 {
    .main-content__reason__description {
      padding-top: 45px;
      padding-bottom: 45px;
      min-height: 100px;
      width: @column-3;
    }
  }
  
  &__reason-1 {
    &__image {
      width: @column-3;
      background-position: bottom;
      background-size: auto 100%;  
      }
    
    .reason__image {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 0;
      display: inline-block;
      img {
        width: 40px;
        height: 40px;
      }
      
    }
      
    &__house,
    &__food,
    &__souvenir {
      padding: 15px 0;
      width: @column-3;
      display: block;
      margin: 0 auto;
      width: 280px;
      vertical-align: top;
      min-height: 110px;
      
      
      .reason__header {
        display: inline-block;
        width: 100px;
        text-align: left;
        vertical-align: top;
        margin-top: 10px;
        margin-bottom: 0;
      }
      .reason__text {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding-left: 50px;
        width: 230px;
      }
    }
   }
  
  
  &__reason-2 {
     .main-content__reason__description {
        width: @column-3;
    }
    &__image {
        width: @column-3;
        
        background-position: bottom;
        background-size: auto 100%;  
    }
  }
  &__reason-3,
  &__reason-4,
  &__reason-5 {
    width: @column-3;
  }
  &__reason-3,
  &__reason-4 {
    border-bottom: 1px solid #d6d6d6;
  }
}     
}