body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #000000;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.btn {
  display: block;
  text-decoration: none;
  margin: 0;
  text-align: center;
}
.fa {
  float: left;
  font-size: 18px;
  padding: 12px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.badge-new {
  color: #ffffff;
  position: absolute;
  top: -28px;
  right: -25px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  vertical-align: top;
  line-height: 18px;
  background-color: #ee3643;
  width: 85px;
  padding: 5px 0px;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
}
.main-header {
  height: 42px;
  background-color: #293449;
  font-size: 0;
}
.main-header .main-page {
  font-size: 24px;
  line-height: 24px;
  padding: 9px 0;
  float: left;
  width: 220px;
  background-color: #ee3643;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 5px solid #b52933;
  font-weight: bold;
}
.main-header .main-page:hover {
  background-color: #ca2c37;
}
.main-header .main-page:active {
  background-color: #ba2732;
}
.main-header .search-form-wrap {
  width: 270px;
  float: left;
  height: 42px;
}
.main-header .search-form-wrap .fa-search {
  width: 50px;
}
.main-header .search-form-wrap .fa-search-hover {
  color: #ffffff;
  background: #212a3a;
}
.main-header .search-form-wrap .fa-search-active {
  color: #ee3643;
  background: #ffffff;
}
.main-header .search-form-wrap .search-form {
  font-size: 0;
  margin: 0;
}
.main-header .search-form-wrap .search-form .search-field {
  float: left;
  width: 220px;
  height: 42px;
  border: none;
  outline: none;
  font-size: 17px;
  background: #293449;
  color: #000000;
}
.main-header .search-form-wrap .search-form .search-field:hover {
  background: #212a3a;
}
.main-header .search-form-wrap .search-form .search-field:focus {
  background: #ffffff;
}
.main-header .search-form-wrap .search-form .search-field::-webkit-input-placeholder {
  color: #ffffff;
}
.main-header .search-form-wrap .search-form .search-field::-moz-placeholder {
  color: #ffffff;
}
.main-header .search-form-wrap .search-form .search-field::-moz-placeholder {
  color: #ffffff;
}
.main-header .search-form-wrap .search-form .search-field::-ms-input-placeholder {
  color: #ffffff;
}
.main-header .bookmark-wrap {
  width: 150px;
  float: left;
  height: 42px;
}
.main-header .bookmark-wrap .fa-bookmark {
  width: 45px;
}
.main-header .bookmark-wrap .fa-bookmark-hover {
  color: #ffffff;
  background: #212a3a;
}
.main-header .bookmark-wrap .fa-bookmark-active {
  color: rgba(255, 255, 255, 0.5);
  background: #161d29;
}
.main-header .bookmark-wrap .bookmark {
  float: left;
  width: 105px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  color: #ffffff;
}
.main-header .bookmark-wrap .bookmark:hover {
  background: #212a3a;
}
.main-header .bookmark-wrap .bookmark:active {
  color: rgba(255, 255, 255, 0.5);
  background: #161d29;
}
.main-header .shopping-cart-wrap {
  width: 150px;
  float: left;
  height: 42px;
}
.main-header .shopping-cart-wrap .fa-shopping-cart {
  width: 45px;
}
.main-header .shopping-cart-wrap .fa-shopping-cart-hover {
  color: #ffffff;
  background: #212a3a;
}
.main-header .shopping-cart-wrap .fa-shopping-cart-active {
  color: rgba(255, 255, 255, 0.5);
  background: #161d29;
}
.main-header .shopping-cart-wrap .shopping-cart {
  float: left;
  width: 105px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  color: #ffffff;
}
.main-header .shopping-cart-wrap .shopping-cart:hover {
  background: #212a3a;
}
.main-header .shopping-cart-wrap .shopping-cart:active {
  color: rgba(255, 255, 255, 0.5);
  background: #161d29;
}
.main-header .order {
  float: left;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  color: #ffffff;
  background: #63a63e;
}
.main-header .order:hover {
  background: #5fbb2d;
}
.main-header .order:active {
  color: rgba(255, 255, 255, 0.5);
  background: #518534;
}
.top-menu {
  padding: 45px 0;
  background: #f1f5f7;
  font-size: 0;
}
.top-menu-description {
  float: left;
  margin: 0;
  padding: 0px 40px;
  width: 240px;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}
.top-menu-contacts {
  float: left;
  width: 220px;
}
.top-menu-contacts .phone-wrap {
  float: left;
  font-size: 0px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 214px;
}
.top-menu-contacts .phone-wrap .fa-phone {
  font-size: 18px;
  width: 40px;
  color: #b7bfc8;
  padding-top: 12px;
  padding-bottom: 8px;
}
.top-menu-contacts .phone-wrap .phone {
  color: #ee3643;
  float: left;
  width: 174px;
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  line-height: 18px;
}
.top-menu-contacts .address {
  float: left;
  width: 220px;
  color: #32425c;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}
.top-menu-login-block {
  float: right;
  width: 280px;
  height: 44px;
}
.top-menu-login-block .sign-in-wrap {
  float: left;
  width: 120px;
  background: #ffffff;
  margin-right: 10px;
}
.top-menu-login-block .sign-in-wrap .fa-sign-in {
  color: #c5c5c5;
  width: 50px;
  padding: 13px 0;
}
.top-menu-login-block .sign-in-wrap .fa-sign-in-hover {
  color: #32425c;
}
.top-menu-login-block .sign-in-wrap .sign-in {
  color: #000000;
  float: left;
  text-align: left;
  width: 70px;
  padding: 13px 0;
  font-size: 18px;
  line-height: 18px;
}
.top-menu-login-block .sign-in-wrap .sign-in:hover {
  color: #ee3643;
}
.top-menu-login-block .sign-in-wrap .sign-in:active {
  color: rgba(0, 0, 0, 0.3);
}
.top-menu-login-block .register {
  float: right;
  color: #000000;
  background: #ffffff;
  width: 150px;
  padding: 13px 0;
  font-size: 18px;
  line-height: 18px;
}
.top-menu-login-block .register:hover {
  color: #ee3643;
}
.top-menu-login-block .register:active {
  color: rgba(0, 0, 0, 0.3);
}
.top-menu-navigation {
  display: block;
  float: left;
  width: 940px;
  height: 60px;
  margin-top: 50px;
  font-size: 0;
}
.top-menu-navigation-list {
  margin: 0;
  padding: 0;
  width: 940px;
  background: #32425c;
  border-bottom: 5px solid #293449;
  list-style: none;
  float: left;
}
.top-menu-navigation-list li {
  float: left;
}
.top-menu-navigation-list li a {
  float: left;
  font-size: 17px;
  line-height: 17px;
  background: #32425c;
  padding: 19px 24px;
  text-decoration: none;
  color: #ffffff;
}
.top-menu-navigation-list li a:hover {
  background: #293449;
}
.top-menu-navigation-list li a:active {
  background: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
.promo-block {
  background: #ffffff;
  padding: 60px 0;
  font-size: 0;
}
.promo-block .promo-product {
  width: 250px;
  padding: 20px 25px;
  overflow: hidden;
  background-image: url(../img/icon/promo-materials.png);
  background-position: 200px center;
  background-repeat: no-repeat;
}
.promo-block .promo-product-header {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0px;
  color: #ffffff;
  margin-bottom: 17px;
}
.promo-block .promo-product button {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 5px;
  width: 135px;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}
.promo-block .promo-product button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-block .promo-product button:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo-block .materials {
  background-color: #f6b22d;
  background-image: url(../img/icon/promo-materials.png);
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}
.promo-block .tool {
  background-color: #4aafde;
  background-image: url(../img/icon/promo-tool.png);
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
.promo-block .machinery {
  background-color: #cc79d1;
  background-image: url(../img/icon/promo-machinery.png);
  margin-bottom: 20px;
  float: right;
}
.promo-block .discount {
  background-color: #85d179;
  background-image: url(../img/icon/promo-discount.png);
  margin-bottom: 20px;
  float: right;
}
.promo-block .delivery {
  background-color: #f6b22d;
  background-image: url(../img/icon/promo-delivery.png);
  float: right;
}
.promo-block .promo-product-slider {
  font-size: 0;
  width: 620px;
  height: 270px;
  float: left;
  background: #000000;
}
.promo-block .promo-product-slider .slider-wrap {
  position: relative;
  height: 270px;
}
.promo-block .promo-product-slider .slider-wrap .fa {
  position: absolute;
  display: block;
  font-size: 44px;
  line-height: 44px;
  height: 44px;
  width: 50px;
  padding: 8px 0;
  padding-left: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  z-index: 1000;
}
.promo-block .promo-product-slider .slider-wrap .fa:hover,
.promo-block .promo-product-slider .slider-wrap .fa:active {
  color: #ffffff;
}
.promo-block .promo-product-slider .slider-wrap .fa-angle-left {
  left: 0px;
}
.promo-block .promo-product-slider .slider-wrap .fa-angle-right {
  right: 0px;
}
.promo-block .promo-product-slider .slider-wrap .catalog-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  width: 175px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  border-radius: 2px;
  background-color: #ee3643;
  z-index: 1000;
}
.promo-block .promo-product-slider .slider-wrap .catalog-link:hover {
  background-color: #ca2c37;
}
.promo-block .promo-product-slider .slider-wrap .catalog-link:active {
  background-color: #ba2732;
}
.promo-block .promo-product-slider .slider-wrap .slide-page {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
.promo-block .promo-product-slider .slider-wrap .slide-page .slide-header {
  position: absolute;
  top: 25px;
  left: 25px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.promo-block .promo-product-slider .slider-wrap .slide-page .slide-description {
  position: absolute;
  top: 65px;
  left: 25px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.promo-block .promo-product-slider .slider-wrap .slide-active {
  z-index: 700;
}
.popular-block-header {
  float: left;
  font-size: 0px;
  margin-bottom: 20px;
  padding: 25px 30px;
  width: 880px;
  background-color: #f7f3ec;
}
.popular-block-header h3 {
  font-size: 30px;
  line-height: 38px;
  vertical-align: middle;
  margin: 0;
  color: #32425c;
  text-transform: uppercase;
  float: left;
}
.popular-block-header .popular-btn {
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: top;
  float: right;
  width: 220px;
  border-radius: 2px;
}
.popular-block-header .popular-btn:hover {
  background-color: #ca2c37;
}
.popular-block-header .popular-btn:active {
  background-color: #ba2732;
}
