body{
    font-family: Arial;
    min-width: 320px;
    background: #fff;
    margin: 0;
    padding: 0;
}
.container{
    width: 320px;
    margin: 0 auto;
    padding: 0 0;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.main-header{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px;
    line-height: 22px;
    color: #000;
}
.logo img{
    width: 95px;
    height: 62px;
    margin-top: 9px;
    margin-left: 31px;
}
.logo::after{
    content: '';
    position: absolute;
    right: 0;
    top: 22px;
    width: 52px;
    height: 36px;
    background: url(../img/icon/icon-menu-320.png) no-repeat;
}
.main-header .logo{
    position: relative;
    float: left;
    height: 81px;
    padding-right: 165px;
}
.main-navigation{
    display: none; 
}
.main-header .change-lan{
    display: none;
}
.main-header .phone{
    display: none;
}
.block-1{
    position: relative;
    width: 320px;
    height: 312px;
    background: url('../img/slider/block-1-320.jpg') no-repeat; 
    background-size: 100%;
    overflow: hidden;
}
.block-1-slider{
    height: 312px;
    background: url('../img/slider/block-1-slider.png');
    background-repeat: no-repeat;
    background-position: 0px 35px;
    background-size: 100% 238px;
    overflow: hidden;
 }
.block-1-slider p{
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    vertical-align: top;
    text-align: center;
    margin-top: 90px;
}
.block-1-slider .left{
    display: none;
    font-size: 0;
    position: absolute;
    width: 21px;
    height: 31px;
    left: 29px;
    bottom: 50%;
    margin-bottom: -15px;
    background: url('../img/spritesheet.png') no-repeat -10px -10px; 
}
.block-1-slider .right{
    display: none;
    font-size: 0;
    position: absolute;
    width: 21px;
    height: 31px;
    right: 29px;
    bottom: 50%;
    margin-bottom: -15px;
    background: url('../img/spritesheet.png') no-repeat -10px -61px;    
}
.block-1-slider-radio{
    display: none;
    display: none;
    position: absolute;
    left: 50%;
    bottom: 23px;
    margin-left: -30px;
}
.block-1-slider-radio input[type="radio"] + label{
    display: none;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
    vertical-align: top;
}
.block-1-slider-radio input[type="radio"] + label::before{
    display: none;
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 12px;
    background: #fff;
}
.block-1-slider-radio input[type="radio"]:checked + label::before{
    display: none;
    border: 1px solid #fff;
    background: none;
    width: 10px;
    height: 10px;
}
.block-1-slider-radio input[type="radio"]{
    display: none;
}
.btn-contact{
    display: none;
    position: absolute;
    top: 50px;
    right: -35px;
    padding: 8px 15px;
    background: #b2a492;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    transform: rotate(-90deg);
    cursor: pointer;
}
h3{
    color: #b2a492;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 20px;
    margin: 0;
}
.block-2{
    min-height: 558px;
    background: #ededed;
    margin: 0;
    padding: 0;
}
.left-column{
    width: 320px;
}
.left-column img{
    width: 320px;
    height: 219px;
}
.right-column{
    width: 265px;
    padding: 30px;
}
.right-column p{
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 20px;
}
.right-column a{
    font-size: 11px;
    line-height: 15px;
    margin-left: 85px;
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    border: 1px solid #000;
    text-transform: lowercase;
}
.right-column .style-970{
    display: none;
}
.block-slider{
    padding-bottom: 0px;
    font-size: 0;
}
.slider-gallery{
    padding: 0px;
    position: relative;
}
.slider-images{
    overflow: hidden;
    white-space: nowrap;
}
.slider-images img{
    display: inline-block;
    margin: 0;
    width: 320px;
    height: 238px;
}
.slider-gallery .left,
.slider-gallery .right{
    position: absolute;
    bottom: 50%;
    margin-bottom: -21px;
    font-size: 0;
    width: 29px;
    height: 42px;
}
.slider-gallery .left{
    left: 5px;
    background: url('../img/spritesheet.png') no-repeat -10px -593px;
}
.slider-gallery .right{
    right: 5px;
    background: url('../img/spritesheet.png') no-repeat -10px -655px;
}
.block-table{
    display: none;
    
}
.block-registration{
    width: 320px;
    height: 464px;
    background: url('../img/block-registration-320.jpg') no-repeat;
    background-size: 100%;
}
.block-registration h3{
    color: #fff;
    padding-bottom: 25px;
}
.block-registration form{
    width: 255px;
    margin: 0 auto;
}
.block-registration input[type="text"],
.block-registration input[type="tel"],
.block-registration input[type="email"]{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px 15px;
    width: 225px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    outline: none;
    color: #fff;
    font-style: italic;
}
.block-registration input[type="email"]{
    margin-bottom: 15px;
}
input[type="submit"]{
    width: 100%;
    font-size: 16px;
    padding: 15px;
    background: #fff;
    color: #b2a492;
    border: 1px solid #d4cfc0;
    outline: none;
    text-transform: uppercase;
}
.block-registration ::-webkit-input-placeholder {
    color:#fff; 
    font-style: italic;
}
.block-registration ::-moz-placeholder          {
    color:#fff;
    font-style: italic;
}/* Firefox 19+ */
.block-registration :-moz-placeholder           {
    color:#fff;
    font-style: italic;
}/* Firefox 18- */
.block-registration :-ms-input-placeholder      {
    color:#fff;
    font-style: italic;
}
.select-list select{
    font-size: 14px;
    margin-bottom: 15px;
    padding: 8px 15px;
    /* Оформлення стрілки width>315px*/
    width: 255px;
    height: 36px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 15px;
    font-style: italic;
}
form p{
    float: left;
    font-size: 14px;
    margin: 0;
    padding-left: 15px;
    color: #fff;
    font-style: italic;
    vertical-align: top;
}
.input-radio-group,
.input-checkbox-group{
    margin-left: 100px;
    margin-bottom: 15px;
}
.input-radio-group input[type="radio"] + label{
    position: relative;
    display: inline-block;
    padding-left: 25px;
    cursor: pointer;
    vertical-align: top;    
    color: #fff;
    font-style: italic;
    font-size: 14px;
}
.input-radio-group input[type="radio"] + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -460px;
}
.input-radio-group input[type="radio"]:checked + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -426px;
}
.input-radio-group input[type="radio"]{
    display: none;
}
.input-checkbox-group input[type="checkbox"] + label{
    position: relative;
    display: inline-block;
    padding-left: 25px;
    cursor: pointer;
    vertical-align: top;    
    color: #fff;
    font-style: italic;
    font-size: 14px;
}
.input-checkbox-group input[type="checkbox"] + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -228px;
}
.input-checkbox-group input[type="checkbox"]:checked + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -194px;
}
.input-checkbox-group input[type="checkbox"]{
    display: none;
}
.main-footer .container{
    background: #b2a492;
    color: #fff;
    position: relative;
    font-size: 12px;
}
.main-footer h3{
    color: #fff;
    padding-bottom: 20px;
}
.main-footer h4{
    display: none;
}
.main-footer h4::before{
    display: none;
}
.container .contact{
    display: none;
}
.container .address{
    display: none;
}
.container .press{
    display: none;
}
.container .footer-copyright{
    display: none;
}
.container .contact-style-320{
    display: block;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
}
.contact-style-320 p{
    margin: 15px auto;
}
.footer-social{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
    text-align: center;
    font-size: 10px;
}
.social-btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('../img/spritesheet.png') no-repeat -10px -494px;
    font-size: 0;
}
.footer-social .tw{
    background: url('../img/spritesheet.png') no-repeat -10px -560px;
}
.footer-social .lin{
    background: url('../img/spritesheet.png') no-repeat -10px -527px;
    margin-right: 0px;
}
.contact-style-320 .footer-social{
    margin: 0;
    padding: 15px 0px;
    width: 320px;
    background: #726b63;
    position: relative;
}
.style-320{
    display: inline;
}
/* Модальне вікно */
.modal-content{
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8) no-repeat;
    background-size: 100%;
}
.modal-content-form{
    position: absolute;
    width: 125px;
    min-height: 135px;
    top: 40px;
    left: 50%;
    margin-left: -63px;
    background: #e1e1e1;
}
.modal-close{
    position: absolute;
    font-size: 0;
    width: 14px;
    height: 12px;
    top: 2px;
    right: 2px;
    background: url('../img/spritesheet.png') no-repeat -10px -394px;
    cursor: pointer;
    transform: scale(0.5);
}
.modal-content-form p{
    
    font-size: 6px;
    font-weight: bold;
    line-height: 10px;
    color: #b2a492;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 0;
}
.modal-content-form form{
    width: 80px;
    margin: 0 auto;
}
.modal-content-form input[type="text"],
.modal-content-form input[type="tel"],
.modal-content-form input[type="email"],
.modal-content-form textarea{
    font-family: Arial;
    font-size: 5px;
    margin: 0px;
    padding: 3px 5px;
    width: 70px;
    background: #fff;
    border: none;
    outline: none;
    color: #989898;
    font-style: italic;
    max-width: 70px;
}
.modal-content-form input[type="email"]{
    margin-bottom: 7px;
}
.modal-content-form input[type="submit"]{
    width: 50px;
    font-size: 5px;
    font-weight: bold;
    background: #b2a492;
    color: #fff;
    outline: none;
    border: none;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 5px 0px;
}
.modal-content-form ::-webkit-input-placeholder {
    color:#989898; 
    font-style: italic;
}
.modal-content-form ::-moz-placeholder          {
    color:#989898;
    font-style: italic;
}/* Firefox 19+ */
.modal-content-form :-moz-placeholder           {
    color:#989898;
    font-style: italic;
}/* Firefox 18- */
.modal-content-form :-ms-input-placeholder      {
    color:#989898;
    font-style: italic;
}
.modal-content-form input[type="checkbox"] + label{
    position: relative;
    display: inline-block;
    padding-left: 15px;
    cursor: pointer;
    vertical-align: top;    
    color: #b2a492;
    font-size: 4px;
    text-transform: lowercase;
    margin-left: 5px;
}
.modal-content-form input[type="checkbox"] + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -361px;
    transform: scale(0.4);
    margin-bottom: 0px;
}
.modal-content-form input[type="checkbox"]:checked + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -328px;
    transform: scale(0.4);
    margin-bottom: 0px;
}
.modal-content-form input[type="checkbox"]{
    display: none;
}
/*modal-content modal-content-form    */
.modal-content{
    display: none;
}
.modal-content-form{
    display: none;
}
.modal-content-show{
    display: block;
}
.modal-content-form-show{
    display: block;
}













