body{
    font-family: Arial;
    min-width: 970px;
    background: #fff;
    margin: 0;
    padding: 0;
}
.container{
    width: 970px;
    margin: 0 auto;
    padding: 0 0;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.main-header{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 11px;
    line-height: 30px;
    color: #000;
}
.logo img{
    width: 93px;
    height: 60px;
    margin-left: 38px;
    margin-top: 17px;
    margin-right: 20px;
}
.main-header .logo{
    float: left;
    height: 90px;
}
.main-navigation{
    float: left;
    max-width: 600px;
}
.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    /*font-size: 0 - для видалення пробілів */
    font-size: 0;
}
.main-navigation li{
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
}
.main-navigation a {
  display: block;
  padding: 32px 12px;
  text-decoration: none;
  color: #000;
}
.main-navigation .active a{
    background: #b2a492;
    color: #fff;
}
.main-navigation a:hover{
    background: #b2a492;
}
.main-header .change-lan{
    float: left;
    margin: 0;
    margin-left: 15px;
    margin-top: 30px;
    border: 1px solid #b2a492;
    width: 63px;
    height: 28px;
    text-align: center;
}
.change-lan a{
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
}
.change-lan a:first-child::after{
    content: ' |';
    color: #000;
}
.change-lan .active{
    color: #b2a492;
    text-decoration: underline;
}
.main-header .phone{
    min-width: 110px;
    float: right;
    position: relative;
    padding: 32px 35px 32px 25px;
}
.phone::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    bottom: 39px;
    background: url('../img/spritesheet.png') no-repeat -10px -262px;
}
.block-1{
    position: relative;
    width: 970px;
    height: 462px;
    background: url('../img/slider/img-1-block-1-slider-970.jpg') no-repeat; 
    overflow: hidden;
}
.block-1-slider{
    height: 462px;
    background: url('../img/slider/block-1-slider.png');
    background-repeat: no-repeat;
    background-position: 0px 121px;
    overflow: hidden;
 }
.block-1-slider p{
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    vertical-align: top;
    text-align: center;
    margin-top: 188px;
}
.block-1-slider .left{
    font-size: 0;
    position: absolute;
    width: 21px;
    height: 31px;
    left: 38px;
    bottom: 50%;
    margin-bottom: -15px;
    background: url('../img/spritesheet.png') no-repeat -10px -10px; 
}
.block-1-slider .right{
    font-size: 0;
    position: absolute;
    width: 21px;
    height: 31px;
    right: 38px;
    bottom: 50%;
    margin-bottom: -15px;
    background: url('../img/spritesheet.png') no-repeat -10px -61px;    
}
.block-1-slider-radio{
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -30px;
}
.block-1-slider-radio input[type="radio"] + label{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
    vertical-align: top;
}
.block-1-slider-radio input[type="radio"] + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 12px;
    background: #fff;
}
.block-1-slider-radio input[type="radio"]:checked + label::before{
    border: 1px solid #fff;
    background: none;
    width: 10px;
    height: 10px;
}
.block-1-slider-radio input[type="radio"]{
    display: none;
}
.btn-contact{
    position: absolute;
    top: 80px;
    right: -40px;
    padding: 11px 17px;
    background: #b2a492;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    
}
h3{
    color: #b2a492;
    font-size: 18px;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 42px;
    padding-bottom: 20px;
    margin: 0;
}
.block-2{
    min-height: 400px;
    background: #ededed;
    margin: 0;
    padding: 0px 40px 60px 40px;
}
.left-column{
    float: left;
    width: 420px;
}
.right-column{
    float: right;
    width: 420px;
}
.right-column p{
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
    margin-top: -5px;
}
.right-column a{
    font-size: 12px;
    line-height: 18px;
    margin-top: 25px;
    text-decoration: none;
    color: #000;
    padding: 6px 18px;
    border: 1px solid #000;
    text-transform: lowercase;
}
.right-column .style-750{
    display: none;
}
.block-slider{
    padding-bottom: 62px;
    font-size: 0;
}
.slider-gallery{
    padding: 0px 73px;
    position: relative;
}
.slider-images{
    overflow: hidden;
    white-space: nowrap;
}
.slider-images img{
    display: inline-block;
    margin-right: 15px;
}

.slider-gallery .left,
.slider-gallery .right{
    position: absolute;
    bottom: 50%;
    margin-bottom: -10px;
    font-size: 0;
    width: 14px;
    height: 21px;
}
.slider-gallery .left{
    left: 40px;
    background: url('../img/spritesheet.png') no-repeat -10px -112px;
}
.slider-gallery .right{
    right: 40px;
    background: url('../img/spritesheet.png') no-repeat -10px -153px;
}
.block-table{
    min-height: 400px;
    background: #ededed;
    margin: 0;
    padding: 0px 40px 60px 40px;
}
.block-table table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #000;
    color: #b2a492;
    font-size: 14px;
}
th, tr, td{
    border: 1px solid #000;
}
th{
    font-size: 18px;
    font-weight: normal;
    height: 52px;
}
tr{
    height: 34px;
}
th:nth-child(1){
    width: 222px;
}
th:nth-child(2),
th:nth-child(3),
th:nth-child(5){
    width: 100px;
}
th:nth-child(4){
    width: 150px;
}
.block-registration{
    width: 970px;
    height: 561px;
    background: url('../img/block-registration-970.jpg') no-repeat;
}
.block-registration h3{
    color: #fff;
    padding-bottom: 10px;
}
.block-registration form{
    width: 315px;
    margin: 0 auto;
}
.block-registration input[type="text"],
.block-registration input[type="tel"],
.block-registration input[type="email"]{
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 275px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    outline: none;
    color: #fff;
    font-style: italic;
}
input[type="email"]{
    margin-bottom: 20px;
}
input[type="submit"]{
    width: 100%;
    font-size: 16px;
    padding: 12px;
    background: #fff;
    color: #b2a492;
    border: 1px solid #d4cfc0;
    outline: none;
    text-transform: uppercase;
}
.block-registration ::-webkit-input-placeholder {
    color:#fff; 
    font-style: italic;
}
.block-registration ::-moz-placeholder          {
    color:#fff;
    font-style: italic;
}/* Firefox 19+ */
.block-registration :-moz-placeholder           {
    color:#fff;
    font-style: italic;
}/* Firefox 18- */
.block-registration :-ms-input-placeholder      {
    color:#fff;
    font-style: italic;
}

.select-list select{
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 20px;
    /* Оформлення стрілки width>315px*/
    width: 315px;
    height: 36px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 20px;
    font-style: italic;
}
/* Оформлення стрілки
.select-list{
    width: 315px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.select-list::after{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: 0px;
    top: 0px;
    background: 
        url('../img/icon/icon-select-arrow.png') no-repeat,
        rgba(255, 255, 255, 0.50) repeat;
    background-position: 
        10px 15px;
}
*/
form p{
    float: left;
    font-size: 14px;
    margin: 0;
    padding-left: 20px;
    color: #fff;
    font-style: italic;
    vertical-align: top;
}
.input-radio-group,
.input-checkbox-group{
    margin-left: 100px;
    margin-bottom: 20px;
}
.input-radio-group input[type="radio"] + label{
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: top;    
    color: #fff;
    font-style: italic;
    font-size: 14px;
}
.input-radio-group input[type="radio"] + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -460px;
}
.input-radio-group input[type="radio"]:checked + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -426px;
}
.input-radio-group input[type="radio"]{
    display: none;
}

.input-checkbox-group input[type="checkbox"] + label{
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: top;    
    color: #fff;
    font-style: italic;
    font-size: 14px;
}
.input-checkbox-group input[type="checkbox"] + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -228px;
}
.input-checkbox-group input[type="checkbox"]:checked + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -194px;
}
.input-checkbox-group input[type="checkbox"]{
    display: none;
}
.main-footer .container{
    background: #b2a492;
    color: #fff;
    position: relative;
    font-size: 14px;
}
.main-footer h3{
    color: #fff;
    padding-bottom: 10px;
    
}
.main-footer h4{
    text-transform: uppercase;
    margin: 0;
    font-size: 11px;
    padding-left: 45px;
    position: relative;
    margin-bottom: 15px;
}
.main-footer h4::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 35px;
    height: 0;
    border: 1px solid #fff;
    
}
.container .contact{
    min-width: 145px;
    float: left;
    margin-right: 60px;
    margin-left: 175px;
    vertical-align: top;
}
.container .address{
    min-width: 210px;
    float: left;
    margin-right: 60px;
    vertical-align: top;
}
.container .press{
    min-width: 145px;
    float: left;
    vertical-align: top;
}
.container .footer-copyright{
    float: left;
    width: 970px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 0;
    background: #726b63;
}
.footer-social{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
    text-align: center;
    font-size: 10px;
}
.social-btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('../img/spritesheet.png') no-repeat -10px -494px;
    font-size: 0;
}
.footer-social .tw{
    background: url('../img/spritesheet.png') no-repeat -10px -560px;
}
.footer-social .lin{
    background: url('../img/spritesheet.png') no-repeat -10px -527px;
    margin-right: 0px;
}
/* footer 320px */
.contact-style-320{
    display: none;
}
.style-320{
    display: none;
}
/* Модальне вікно */
.modal-content{
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8) no-repeat;
    background-size: 100%;
}
.modal-content-form{
    position: absolute;
    width: 350px;
    min-height: 360px;
    top: 145px;
    left: 50%;
    margin-left: -175px;
    background: #e1e1e1;
}
.modal-close{
    position: absolute;
    font-size: 0;
    width: 14px;
    height: 12px;
    top: 14px;
    right: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -394px;
    cursor: pointer;
}
.modal-content-form p{
    font-size: 14px;
    font-weight: bold;
    line-height: 55px;
    color: #b2a492;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 0;
}
.modal-content-form form{
    width: 210px;
    margin: 0 auto;
}
.modal-content-form input[type="text"],
.modal-content-form input[type="tel"],
.modal-content-form input[type="email"],
.modal-content-form textarea{
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px 15px;
    width: 180px;
    background: #fff;
    border: none;
    outline: none;
    color: #989898;
    font-style: italic;
    max-width: 180px;
    font-style: italic;
}
.modal-content-form input[type="submit"]{
    width: 125px;
    font-size: 14px;
    font-weight: bold;
    background: #b2a492;
    color: #fff;
    outline: none;
    border: none;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-left: 42px;
    
}
.modal-content-form ::-webkit-input-placeholder {
    color:#989898; 
    font-style: italic;
}
.modal-content-form ::-moz-placeholder          {
    color:#989898;
    font-style: italic;
}/* Firefox 19+ */
.modal-content-form :-moz-placeholder           {
    color:#989898;
    font-style: italic;
}/* Firefox 18- */
.modal-content-form :-ms-input-placeholder      {
    color:#989898;
    font-style: italic;
}

.modal-content-form input[type="checkbox"] + label{
    position: relative;
    display: inline-block;
    padding-left: 22px;
    cursor: pointer;
    vertical-align: top;    
    color: #b2a492;
    font-size: 12px;
    text-transform: lowercase;
    margin-left: 20px;
    margin-bottom: 15px;
}
.modal-content-form input[type="checkbox"] + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 1px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -361px;
}
.modal-content-form input[type="checkbox"]:checked + label::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 1px;
    width: 14px;
    height: 14px;
    background: url('../img/spritesheet.png') no-repeat -10px -328px;
}
.modal-content-form input[type="checkbox"]{
    display: none;
}
/*modal-content modal-content-form    */
.modal-content{
    display: none;
}
.modal-content-form{
    display: none;
}
.modal-content-show{
    display: block;
}
.modal-content-form-show{
    display: block;
}













