.promo-block {
  background: @white;
  padding: 60px 0;
  font-size: 0;
  .promo-product {
    width: 250px;
    padding: 20px 25px;
    overflow: hidden;
    background-image: url(../img/icon/promo-materials.png);
    background-position: 200px center;
    background-repeat: no-repeat;
    &-header {
      font-size: 24px;
      line-height: 30px;
      margin-top: 0px;
      color: @white;
      margin-bottom: 17px;
    }
    button {
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 5px;
      width: 135px;
      border-radius: 2px;
      color: @white;
      background-color: @black-opacity-10;
    }
    button:hover {
      background-color: @black-opacity-20;
    }
    button:active {
      background-color: @black-opacity-30;
    }
  }
    
  .materials {
    background-color: @promo-yellow;
    background-image: url(../img/icon/promo-materials.png);
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
  }
  .tool {
    background-color: @promo-blue;
    background-image: url(../img/icon/promo-tool.png);
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
  }
  .machinery {
    background-color: @promo-magenta;
    background-image: url(../img/icon/promo-machinery.png);
    margin-bottom: 20px;
    float: right;
  }
  .discount {
    background-color: @promo-green;
    background-image: url(../img/icon/promo-discount.png);
    margin-bottom: 20px;
    float: right;
  }
  .delivery {
    background-color: @promo-yellow;
    background-image: url(../img/icon/promo-delivery.png);
    float: right;
  }
  
  .promo-product-slider {
    font-size: 0;
    width: 620px;
    height: 270px;
    float: left;
    background: @black;
    .slider-wrap {
      position: relative;
      height: 270px;
      .fa {
        position: absolute;
        display: block;
        
        font-size: 44px;
        line-height: 44px;
        height: 44px;
        width: 50px;
        padding: 8px 0;
        padding-left: 10px;
        text-align: center;
        color: @white-opacity-30;
        top: 50%;
        margin-top: -30px;
        cursor: pointer;
        z-index: 1000;
      }
      .fa:hover,
      .fa:active {
        color: @white;
      }
      .fa-angle-left {
        left: 0px;
      }
      .fa-angle-right {
        right: 0px;
      }
      .catalog-link {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: @white;
        padding: 10px;
        width: 175px;
        position: absolute;
        bottom: 25px;
        left: 25px;
        border-radius: 2px;
        background-color: @red;
        z-index: 1000;
      }
      .catalog-link:hover {
        background-color: @red-hover;
      }
      .catalog-link:active {
        background-color: @red-click;
      }
      .slide-page {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 500;
        .slide-header {
          position: absolute;
          top: 25px;
          left: 25px;
          margin: 0;
          font-size: 30px;
          line-height: 30px;
          text-transform: uppercase;
          color: @white;
        }
        .slide-description {
          position: absolute;
          top: 65px;
          left: 25px;
          margin: 0;
          font-size: 18px;
          line-height: 24px;
          color: @white;
        }
      }
      .slide-active {
        z-index: 700;
      }
    }
  }
}
