body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: @black;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.btn {
  display: block;
  text-decoration: none;
  margin: 0;
  text-align: center;
}
.fa {
  float: left;
  font-size: 18px;
  padding: 12px 0;
  text-align: center;
  color: @white-opacity-30;
}
.badge-new {
  color: @white;
  position: absolute;
  top: -28px;
  right: -25px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  vertical-align: top;
  line-height: 18px;
  background-color: @red;
  width: 85px;
  padding: 5px 0px;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  z-index: 500;
}