.intro {
  font-size: 0;
  min-height: 725px;
  background-image: url('../img/bg-intro-1200.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
}
.intro__poster {
  padding-top: 75px;
  position: relative;
}
.intro__poster__welcome {
  width: 256px;
  height: 86px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: url('../img/logo-intro-welcome.png') no-repeat center;
}
.intro__poster__sedona {
  width: 458px;
  height: 78px;
  margin: 0 auto;
  margin-bottom: 60px;
  background: url('../img/logo-intro-sedona.png') no-repeat center;
}
.intro__poster__slogan {
  width: 295px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url('../img/logo-intro-grand-canyon.png') no-repeat center;
}
.intro__about {
  min-height: 155px;
  padding-top: 61px;
  background: #ffffff;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.intro__about__header {
  font-size: 21px;
  vertical-align: top;
  font-weight: bold;
  margin-bottom: 55px;
  width: 440px;
  margin: 0 auto;
}
.intro__about__reason {
  font-size: 14px;
  vertical-align: top;
  margin-top: 34px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .intro {
    min-height: 615px;
  }
  .intro__poster {
    padding-top: 47px;
  }
  .intro__poster__welcome {
    width: 196px;
    height: 66px;
    margin: 0 auto;
    margin-bottom: 70px;
    background: url('../img/logo-intro-welcome.png') no-repeat center;
    background-size: 100%;
  }
  .intro__poster__sedona {
    width: 280px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 70px;
    background: url('../img/logo-intro-sedona.png') no-repeat center;
    background-size: 100%;
  }
  .intro__poster__slogan {
    width: 197px;
    height: 54px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url('../img/logo-intro-grand-canyon.png') no-repeat center;
    background-size: 100%;
  }
  .intro__about {
    min-height: 185px;
    padding-top: 38px;
  }
  .intro__about__header {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 28px;
    width: 260px;
  }
  .intro__about__reason {
    margin: 0 auto;
    margin-bottom: 28px;
    width: 260px;
    margin-bottom: 0;
  }
}
.main-content {
  font-size: 0;
  color: #000000;
  vertical-align: top;
}
.main-content .reason__header,
.main-content .reason__text,
.main-content .reason__number {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  display: block;
}
.main-content .reason__header {
  margin: 0 auto;
  width: 155px;
  margin-bottom: 10px;
}
.main-content .reason__number {
  margin-bottom: 20px;
}
.main-content .reason__text {
  margin: 0 auto;
  width: 260px;
  margin-bottom: 0;
}
.main-content .reason__text,
.main-content .reason__number {
  font-size: 14px;
}
.main-content__reason__description {
  vertical-align: top;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  background: #eeeeee;
  min-height: 165px;
}
.main-content__reason-1 .main-content__reason__description {
  width: 33.33333333%;
  display: inline-block;
  color: #ffffff;
  background-color: #81b3d2;
}
.main-content__reason-1__image {
  vertical-align: top;
  width: 66.66666667%;
  height: 255px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/bg-main-reason-1.jpg);
}
.main-content__reason-1 .reason__image {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}
.main-content__reason-1__house,
.main-content__reason-1__food,
.main-content__reason-1__souvenir {
  width: 33.33333333%;
  display: inline-block;
  vertical-align: top;
  padding-top: 60px;
  padding-bottom: 75px;
  min-height: 195px;
}
.main-content__reason-1__house .reason__header,
.main-content__reason-1__food .reason__header,
.main-content__reason-1__souvenir .reason__header {
  margin-bottom: 15px;
}
.main-content__reason-2 .main-content__reason__description {
  width: 33.33333333%;
  display: inline-block;
  color: #ffffff;
  background-color: #81b3d2;
}
.main-content__reason-2__image {
  vertical-align: top;
  width: 66.66666667%;
  height: 255px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/bg-main-reason-2.jpg);
}
.main-content__reason-3,
.main-content__reason-4,
.main-content__reason-5 {
  width: 33.33333333%;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .main-content .reason__header {
    margin: 0 auto;
    width: 160px;
    margin-bottom: 10px;
  }
  .main-content .reason__number {
    margin-bottom: 20px;
  }
  .main-content .reason__text {
    margin: 0 auto;
    width: 165px;
    line-height: 21px;
  }
  .main-content__reason__description {
    padding-top: 45px;
    padding-bottom: 35px;
    min-height: 175px;
  }
  .main-content__reason-1__house,
  .main-content__reason-1__food,
  .main-content__reason-1__souvenir {
    padding-top: 60px;
    padding-bottom: 65px;
    min-height: 205px;
  }
  .main-content__reason-1__house .reason__header,
  .main-content__reason-1__food .reason__header,
  .main-content__reason-1__souvenir .reason__header {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .main-content .reason__header {
    margin: 0 auto;
    width: 280px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .main-content .reason__number {
    margin-bottom: 10px;
    line-height: 21px;
  }
  .main-content .reason__text {
    margin: 0 auto;
    width: 280px;
    margin-bottom: 0;
    line-height: 21px;
  }
  .main-content__reason__description {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #eeeeee;
    min-height: 110px;
  }
  .main-content__reason-1 .main-content__reason__description,
  .main-content__reason-2 .main-content__reason__description {
    padding-top: 45px;
    padding-bottom: 45px;
    min-height: 100px;
    width: 100%;
  }
  .main-content__reason-1__image {
    width: 100%;
    background-position: bottom;
    background-size: auto 100%;
  }
  .main-content__reason-1 .reason__image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 0;
    display: inline-block;
  }
  .main-content__reason-1 .reason__image img {
    width: 40px;
    height: 40px;
  }
  .main-content__reason-1__house,
  .main-content__reason-1__food,
  .main-content__reason-1__souvenir {
    padding: 15px 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    width: 280px;
    vertical-align: top;
    min-height: 110px;
  }
  .main-content__reason-1__house .reason__header,
  .main-content__reason-1__food .reason__header,
  .main-content__reason-1__souvenir .reason__header {
    display: inline-block;
    width: 100px;
    text-align: left;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .main-content__reason-1__house .reason__text,
  .main-content__reason-1__food .reason__text,
  .main-content__reason-1__souvenir .reason__text {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 50px;
    width: 230px;
  }
  .main-content__reason-2 .main-content__reason__description {
    width: 100%;
  }
  .main-content__reason-2__image {
    width: 100%;
    background-position: bottom;
    background-size: auto 100%;
  }
  .main-content__reason-3,
  .main-content__reason-4,
  .main-content__reason-5 {
    width: 100%;
  }
  .main-content__reason-3,
  .main-content__reason-4 {
    border-bottom: 1px solid #d6d6d6;
  }
}
.main-footer {
  font-size: 0;
  padding: 36px 0;
  width: 100%;
  background-color: #ffffff;
}
.main-footer__hashtag {
  display: inline-block;
  width: 33.33333333%;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}
.main-footer__social {
  display: inline-block;
  width: 33.33333333%;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  font-size: 14px;
}
.main-footer__social__social-btn {
  list-style: none;
  font-size: 0;
  padding: 0;
}
.main-footer__social__social-btn li {
  display: inline-block;
  margin-right: 6px;
}
.main-footer__social__social-btn li:last-child {
  margin-right: 0;
}
.main-footer__social__social-btn a {
  text-decoration: none;
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-image: url(../img/icon/6-tw.png);
  background-repeat: no-repeat;
  background-position: center;
}
.main-footer__social__social-btn a:hover {
  background-color: #669ec0;
}
.main-footer__social__social-btn a:active {
  background-color: #5496bd;
}
.main-footer__social__social-btn li:nth-child(2) a {
  background-image: url(../img/icon/7-fb.png);
}
.main-footer__social__social-btn li:nth-child(3) a {
  background-image: url(../img/icon/8-gp.png);
}
.main-footer__about {
  font-size: 0;
  display: inline-block;
  width: 33.33333333%;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.main-footer__about span {
  display: inline-block;
  font-size: 14px;
}
.main-footer__about .academy-1 {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 36px;
  margin: 0 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/icon/9-academy.png);
}
.main-footer__about .academy-2 {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 36px;
  margin: 0 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/icon/10-academy-2.png);
  margin-right: 0px;
}
@media (max-width: 767px) {
  .main-footer {
    padding: 0;
  }
  .main-footer__hashtag {
    width: 100%;
    padding: 26px 0;
  }
  .main-footer__social {
    padding: 15px 0;
    width: 100%;
  }
  .main-footer__about {
    width: 100%;
    padding: 21px 0;
  }
}
.main-header {
  background-color: #ffffff;
  min-height: 56px;
}
.main-header .main-nav__logo,
.main-header .main-nav__mobile--logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 100;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.main-nav__list li {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.main-nav__list li a {
  text-align: center;
  padding: 15px 0;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}
.main-nav__list li:nth-child(2) {
  margin-right: 20%;
}
.main-nav__list a:hover {
  color: #81b3d2;
}
.main-nav__list a:active {
  opacity: 0.3;
}
.main-nav .main-nav__list--active-item a {
  color: #766357;
}
.main-nav .main-nav__list--active-item a:hover {
  color: #604e43;
}
.main-nav .main-nav__list--active-item a:active {
  opacity: 0.3;
}
@media (max-width: 767px) {
  .main-nav {
    position: relative;
  }
  .main-nav__list {
    display: none;
  }
  .main-nav__list--show {
    display: block;
  }
  .main-nav__mobile--close {
    display: none;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 23px;
    height: 22px;
    background: url(../img/icon/2-mobile-menu-close.png) no-repeat center;
    z-index: 10;
    cursor: pointer;
  }
  .main-nav__mobile--close--show {
    display: block;
  }
  .main-nav__logo {
    display: none;
  }
  .main-nav__list li {
    margin: 0%;
    width: 100%;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
  }
  .main-nav__list li a {
    background-color: #81b3d2;
    padding: 7px 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
  }
  .main-nav__list li:first-child {
    border-top: none;
  }
  .main-nav__list li:last-child {
    border-bottom: none;
  }
  .main-nav__list li:nth-child(2) {
    margin-right: 0%;
  }
  .main-nav__list a:hover,
  .main-nav .main-nav__list--active-item a:hover {
    background-color: #669ec0;
    color: #ffffff;
  }
  .main-nav__list a:active,
  .main-nav .main-nav__list--active-item a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
  }
  .main-nav .main-nav__list--active-item a {
    color: #ffffff;
  }
  .main-nav__mobile {
    min-height: 56px;
    position: relative;
  }
  .main-nav__mobile--open {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 23px;
    height: 22px;
    background: url(../img/icon/1-mobile-menu-open.png) no-repeat center;
    cursor: pointer;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif, Arial;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  font-weight: normal;
}
.page-wrap {
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}
@media (min-width: 1200px) {
  .page-wrap {
    max-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .page-wrap {
    max-width: 1200px;
    min-width: 768px;
  }
}
@media (max-width: 767px) {
  .page-wrap {
    max-width: 767px;
    min-width: 320px;
  }
}
.search {
  font-size: 0;
}
.search .btn {
  font-size: 21px;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
.search__block {
  padding-top: 50px;
  background: #ffffff;
}
.search__block__header {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  margin: 0;
  margin-bottom: 35px;
}
.search__block__text {
  display: block;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
  width: 560px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.search__block__btn {
  width: 560px;
  padding: 30px 0;
  background: #766357;
  margin: 0 auto;
}
.search__map {
  position: relative;
  height: 480px;
  font-size: 0;
  padding: 0;
  margin: 0;
}
.search__map iframe {
  width: 100%;
  min-height: 480px;
  font-size: 0;
}
.search__map .search__container {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -280px;
  background-color: transparent;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 55px;
  width: 450px;
  z-index: 10;
}
.search__map .search__container__form {
  font-size: 0;
  width: 100%;
}
.search__map .search__container__form fieldset {
  border: 0;
  margin: 0;
  margin-bottom: 30px;
}
.search__map .search__container__form fieldset.adult,
.search__map .search__container__form fieldset.child {
  font-size: 0;
  width: 225px;
  display: inline-block;
}
.search__map .search__container__form input,
.search__map .search__container__form button {
  border: 0;
  outline: 0;
  background: #f2f2f2;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}
.search__map .search__container__form label {
  width: 110px;
  padding-top: 8px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.search__map .search__container__form button {
  color: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  width: 35px;
  vertical-align: top;
}
.search__map .search__container__form button:hover {
  color: #000000;
}
.search__map .search__container__form button:active {
  color: #81b3d2;
}
.search__map .search__container__form input[type="text"] {
  padding: 10px 10px;
  width: 25px;
  text-align: center;
}
.search__map .search__container__form .label__child {
  padding-left: 50px;
  width: 60px;
}
.search__map .search__container__form input[type="date"] {
  padding: 10px 15px;
  width: 310px;
}
.search__map .search__container__form .btn {
  width: 100%;
  padding: 16px 0;
  background: #81b3d2;
  font-size: 18px;
}
.search__map .search__container__show {
  display: block;
}
@media (max-width: 767px) {
  .search .btn {
    font-size: 18px;
  }
  .search__block {
    padding-top: 30px;
  }
  .search__block__header {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .search__block__text {
    width: 280px;
    margin-bottom: 30px;
  }
  .search__block__btn {
    width: 100%;
  }
  .search__map {
    position: static;
    height: 790px;
  }
  .search__map iframe {
    min-height: 360px;
  }
  .search__map .search__container {
    position: static;
    display: block;
    margin: 0 auto;
    padding: 25px 20px 37px 20px;
    width: 280px;
  }
  .search__map .search__container__form fieldset {
    margin-bottom: 20px;
  }
  .search__map .search__container__form fieldset.adult,
  .search__map .search__container__form fieldset.child {
    width: 115px;
    margin-bottom: 20px;
  }
  .search__map .search__container__form fieldset.adult label,
  .search__map .search__container__form fieldset.child label {
    width: 90px;
  }
  .search__map .search__container__form fieldset.adult {
    margin-right: 50px;
  }
  .search__map .search__container__form label {
    width: 265px;
    padding-left: 15px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .search__map .search__container__form .label__child {
    padding-left: 15px;
    width: 115px;
  }
  .search__map .search__container__form .label__adult {
    padding-left: 15px;
    width: 115px;
  }
  .search__map .search__container__form input[type="date"] {
    padding: 10px 15px;
    width: 250px;
  }
}
